@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<RadzenLayout>
    <RadzenHeader class="main-header">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" class="rz-px-4">

            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="2rem">
                <RadzenText Text="ScheduleEase" TextStyle="TextStyle.H5" class="brand-title" />
                <RadzenLink Text="Home" Path="/" class="nav-link" />
                <RadzenLink Text="Calendar" Path="/calendar" class="nav-link" />
                <RadzenLink Text="Import" Path="/import" class="nav-link" />
            </RadzenStack>

            <a href="https://127.0.0.1:8000/login" target="_blank" class="rz-button rz-button-primary rz-button-icon-left" style="text-decoration: none;">
                <RadzenIcon Icon="login" class="rz-button-icon" />
                <span class="rz-button-text">Connect Google Account</span>
            </a>
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody>
        <div class="main-content">
            @Body
        </div>
    </RadzenBody>

</RadzenLayout>

}